/build/win32/vs2017/Debug
/console/build/win32/vs2017/Debug
/lib/*.lib
/build/win32/vs2017/.vs
/build/win32/vs2017/*.user
/console/build/win32/vs2017/*.user
/build/win32/vs2017/Release
/build/win32/vs2017/x64/Debug
/build/win32/vs2017/x64/Release
/console/build/win32/vs2017/Release
/console/build/win32/vs2017/x64/Debug
/console/build/win32/vs2017/x64/Release
/concepts/build/win32/vs2017/core/core.vcxproj.user
/concepts/build/win32/vs2017/core/x64/Debug
/concepts/build/win32/vs2017/core/x64/Release
/concepts/build/win32/vs2017/core/core.math.universal.vcxproj.user
/concepts/build/win32/vs2017/core/Debug
/concepts/build/win32/vs2017/core/Release
/build/win32/vs2019/x64/Debug
/build/win32/vs2019/.vs
/build/win32/vs2019/neos.vcxproj.user
/build/win32/vs2019/x64/Release
/build/win32/vs2019/Debug
/build/win32/vs2019/Release
/3rdparty/libffi-3.3/.gitignore
/3rdparty/libffi-3.3/fficonfig.h
/3rdparty/libffi-3.3/include/ffi.h
/3rdparty/libffi-3.3/include/ffi.h.old.x86_win32
/3rdparty/libffi-3.3/stage/libffi/libffi.sln
/3rdparty/libffi-3.3/stage/libffi/libffi.vcxproj
/3rdparty/libffi-3.3/stage/libffi/libffi.vcxproj.filters
/3rdparty/libffi-3.3/win32/vc11_x64/libffi-msvc.sln
/3rdparty/libffi-3.3/win32/vc11_x64/libffi/libffi.vcxproj
/3rdparty/libffi-3.3/win32/vc11_x86/libffi-msvc.sln
/3rdparty/libffi-3.3/win32/vc11_x86/libffi/libffi.vcxproj
/3rdparty/libffi-3.3/win32/vc12_x64/libffi-msvc.sln
/3rdparty/libffi-3.3/win32/vc12_x64/libffi/libffi.vcxproj
/3rdparty/libffi-3.3/win32/vc12_x86/libffi-msvc.sln
/3rdparty/libffi-3.3/win32/vc12_x86/libffi/libffi.vcxproj
/3rdparty/libffi-3.3/win32/vc14_x64/libffi-msvc.sln
/3rdparty/libffi-3.3/win32/vc14_x64/libffi/libffi.vcxproj
/3rdparty/libffi-3.3/win32/vc14_x86/libffi-msvc.sln
/3rdparty/libffi-3.3/win32/vc14_x86/libffi/libffi.vcxproj
/3rdparty/libffi-3.3/win32/vc15_x64/libffi-msvc.sln
/3rdparty/libffi-3.3/win32/vc15_x64/libffi/libffi.vcxproj
/3rdparty/libffi-3.3/win32/vc15_x86/libffi-msvc.sln
/3rdparty/libffi-3.3/win32/vc15_x86/libffi/libffi.vcxproj
/3rdparty/libffi-3.3/win32/vc9_x86/libffi.sln
/3rdparty/libffi-3.3/win32/vc9_x86/libffi/libffi.vcproj
/3rdparty/libffi-3.3/win32/vs16_x64/libffi-msvc.sln
/3rdparty/libffi-3.3/win32/vs16_x64/libffi/libffi.vcxproj
/3rdparty/libffi-3.3/win32/vs16_x86/libffi-msvc.sln
/3rdparty/libffi-3.3/win32/vs16_x86/libffi/libffi.vcxproj
/3rdparty/libffi-3.3/winlibs.mak
/lib/neos.pdb
/lib/neosd.idb
/lib/neosd.pdb
/build/win32/vs2022/x64
/build/win32/vs2022/.vs
/build/win32/vs2022/neos.vcxproj.user
/build/win32/vs2022
/build/win32/vs2017
/build/win32/vs/x64/Release
/build/win32/vs/x64/Debug
/build/win32/vs/.vs/neos/v16
/build/win32/vs
