/build/win32/vs2017/Debug
/console/build/win32/vs2017/Debug
/lib/*.lib
/build/win32/vs2017/.vs
/build/win32/vs2017/*.user
/console/build/win32/vs2017/*.user
/build/win32/vs2017/Release
/build/win32/vs2017/x64/Debug
/build/win32/vs2017/x64/Release
/console/build/win32/vs2017/Release
/console/build/win32/vs2017/x64/Debug
/console/build/win32/vs2017/x64/Release
